<div class="adicionarEnderecosDeEntrega">
	<div class="title">Endereços de Entrega</div>
	<div class="form-horizontal content">
		<div class="form-group">
			<label class="col-sm-2 control-label">Nome do lugar: </label>
			<div class="col-sm-10">
		    	<input type="text" class="form-control" placeholder="Ex: Casa da titia">
			</div>
		</div>
		<div class="form-group">
		 	<label class="col-sm-2 control-label">Lugarejo: </label>
			<div class="col-sm-10">
		    	<input type="text" class="form-control" placeholder="Ex: Av dos Bandeirantes 442">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">CEP: </label>
			<div class="col-sm-10">
		    	<input type="text" class="form-control" placeholder="Ex: 11740000">
			</div>
		</div>
		<div class="form-group">
		 	<label class="col-sm-2 control-label">Cidade: </label>
			<div class="col-sm-10">
		    	<input type="text" class="form-control" placeholder="Ex: Sao Paulo">
			</div>
		</div>
		<div class="form-group">
		 	<label class="col-sm-2 control-label">Estado: </label>
		 	<div class="col-sm-10">
		    	<input type="text" class="form-control" placeholder="Ex: SP">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">País: </label>
				<div class="col-sm-10">
				<input type="text" class="form-control" placeholder="Ex: Brasil">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default">Cadastrar</button>
		    </div>
		</div>
	</div>
</div>