<div class="enderecosDeEntrega">
	<div class="title">Endereços de Entrega</div>
 	<table class="table table-hover content">
	       <thead>
	           <tr>
	               <th>Nome</th>
	               <th>Lugarejo</th>
	               <th>CEP</th>
	               <th>Cidade</th>
	               <th>Estado</th>
	               <th>País</th>
	               <th>Cliente</th>
	           </tr>
	       </thead>
	       <tbody>
	           <tr ng-repeat="endereco in enderecos">
	                <td>{{endereco.nome}}</td>
	                <td>{{endereco.lugarejo}}</td>
	                <td>{{endereco.CEP}}</td>
	                <td>{{endereco.id_cidade}}</td>
	                <td>{{endereco.id_estado}}</td>
	                <td>{{endereco.id_pais}}</td>
	                <td>{{endereco.id_cliente}}</td>
	           </tr>
	       </tbody>
     	</table>
</div>