<html>
	<head>
	<meta charset="utf-8">
	<title>Desafio Walmart</title>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" href="../style.css">
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/angular-route/angular-route.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../application.js"></script>
	</head>
	<ul>
		<li><a href="#perfilUsuario">Perfil do Usuario</a></li>
		<li><a href="#pedidos">Pedidos</a></li>
		<li><a href="#enderecosEntrega/1">Enderecos de Entrega</a></li>
	</ul>
	<body ng-app="desafioWalmartApp">
		<div ng-view></div>
	</body>

</html>