<div class="pedidos">
	<div class="title"><span class="pageName">Pedidos</span> de {{cliente}}</div>
 	<table class="table table-hover content">
 		<div class="fixed-table-toolbar">
	 		<div class="pull-right btnContainer">
		        <button class="btn btn-primary" data-toggle="modal" data-target="#modalAddPedidos" disabled>
		            <i class="glyphicon glyphicon-plus"></i>Adicionar
		        </button>
	 		</div>
 		</div>
        <thead>
           <tr>
               <th>Nome do produto</th>
               <th>Foto do Produto</th>
               <th>Endereco</th>
               <th>Lugarejo</th>
               <th>Data do Pedido</th>
               <th>Quantidade</th>
               <th>Total</th>
           </tr>
        </thead>
	    <tbody>
	        <tr ng-repeat="pedido in pedidos">
                <td>{{pedido.produtoNome}}</td>
                <td>
                  <img src="../img/{{pedido.produtoImagem}}" class="img">
                </td>
                <td>{{pedido.enderecoNome}}</td>
                <td>{{pedido.enderecoLugarejo}}</td>
                <td>{{pedido.pedidoData  | date:"MM/dd/yyyy" }}</td>
                <td>{{pedido.pedidoQuantidade}}</td>
                <td>{{pedido.total}}</td>
	        </tr>
	    </tbody>
    </table>
     <!-- Modal -->
      <div class="modal fade" id="modalAddPedidos" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Adicionar Pedidos</h4>
            </div>
            <div class="modal-body">
            	<div class="adicionarPedidos">
            		<div class="form-horizontal">
            			<div class="form-group">
            				<label class="col-sm-2 control-label">Cliente: </label>
            				<div class="col-sm-10">
            			    	<input type="text" class="form-control" placeholder="Ex: Casa da titia">
            				</div>
            			</div>
            			<div class="form-group">
            			 	<label class="col-sm-2 control-label">Produto: </label>
            				<div class="col-sm-10">
            			    	<input type="text" class="form-control" placeholder="Ex: Av dos Bandeirantes 442">
            				</div>
            			</div>
            			<div class="form-group">
            				<label class="col-sm-2 control-label">Endereco: </label>
            				<div class="col-sm-10">
            			    	<input type="text" class="form-control" placeholder="Ex: 11740000">
            				</div>
            			</div>
            			<div class="form-group">
            			 	<label class="col-sm-2 control-label">Quantidade: </label>
            				<div class="col-sm-10">
            			    	<input type="text" class="form-control" placeholder="Ex: Sao Paulo">
            				</div>
            			</div>
            		</div>
            	</div>
            </div>
            <div class="modal-footer">
            	<button type="button" class="btn btn-default" disabled>Salvar</button>
            	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>