.enderecosDeEntrega .title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.enderecosDeEntrega .content {
  margin-top: 20px;
}

.navbar {
  text-align: center;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
}
.enderecosDeEntrega,
.pedidos,
.perfilDoUsuario {
  width: 900px;
  margin: auto;
  background-color: aliceblue;
  border-radius: 25px;
  border: 2px solid #e7e7e7;
}

.pedidos {
  width: 1010px;
}
.pedidos .btnContainer {
  margin-right: 5px;
}
.pedidos .title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.pedidos .content {
  margin-top: 50px;
}
.pedidos .content .img {
  width: 42px;
  height: 42px;
}

.perfilDoUsuario .title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.perfilDoUsuario .content {
  margin-top: 20px;
}
